@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.selector{
  scroll-snap-type: x mandatory;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

/* Untuk memastikan konten masih bisa digulirkan secara horizontal */
body {
  -ms-overflow-style: none;  /* Untuk IE 10+ */
  scrollbar-width: none;  /* Untuk Firefox */
}